<template>
    <button type="submit" :class="classes" @click="toggle()">
        <i class="fas fa-heart"></i>
        <span v-text="favouritesCount"></span>
    </button>
</template>

<script>
    export default {
        props: ['reply'],

        data() {
            return {
                favouritesCount: this.reply.favouritesCount,
                isFavourated: this.reply.isFavourated
            }
        },

        computed: {
           classes() {
               return ['btn btn-sm', this.isFavourated ? 'btn-primary' : 'btn-secondary'];
           },

           endpoint() {
               return '/replies/' + this.reply.id + '/favourites';
           }
        },

        methods: {

            toggle() {
                return this.isFavourated ? this.destroy() : this.create();
            },

            create() {
                axios.post(this.endpoint);
                this.favouritesCount++;
                this.isFavourated = true;
                flash('You have successfully liked a reply');
            },

            destroy() {
                axios.delete(this.endpoint);
                this.favouritesCount--;
                this.isFavourated = false;
                flash('You have successfully unliked a reply');
            }
        }
    }
</script>
